[package]
name = "eww"
version = "0.1.0"
authors = ["elkowar <5300871+elkowar@users.noreply.github.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gtk = { version = "0.9", features = [ "v3_16" ] }
gdk = { version = "", features = ["v3_16"] }
gio = { version = "", features = ["v2_44"] }
glib = { version = "", features = ["v2_44"] }

regex = "1"
try_match = "0.2.2"
anyhow = "1.0"
derive_more = "0.99"
maplit = "1"
structopt = "0.3"
ipc-channel="0.14.1"
serde = {version = "1.0", features = ["derive"]}
extend = "0.3.0"
grass = "0.10"
hotwatch = "0.4"
notify = "4.0"
crossbeam-channel = "0.4"
num = "0.3"
stoppable_thread = "0.2"
roxmltree = "0.13"
itertools = "0.9"
scheduled-executor = "0.4"
debug_stub_derive = "0.3"

#thiserror = "1.0"

[dev-dependencies]
pretty_assertions = "0.6.1"

