[package]
name = "eww"
version = "0.1.0"
authors = ["elkowar <5300871+elkowar@users.noreply.github.com>"]
edition = "2018"
description= "Widget system for everyone!"
license = "MIT"
repository = "https://github.com/elkowar/eww"
homepage = "https://github.com/elkowar/eww"


[dependencies]
#gtk = { version = "0.9", features = [ "v3_16" ] }
#gdk = { version = "", features = ["v3_16"] }

gtk4 = { git = "https://github.com/gtk-rs/gtk4-rs.git" }
gdk4-x11 = { git = "https://github.com/gtk-rs/gtk4-rs.git" }

#gdk-pixbuf = "0.9"

regex = "1"
bincode = "1.3"
anyhow = "1.0"
derive_more = "0.99"
maplit = "1"
structopt = "0.3"
serde = {version = "1.0", features = ["derive"]}
extend = "0.3.0"
grass = "0.10"
num = "0.3"
roxmltree = "0.14"
itertools = "0.10"
debug_stub_derive = "0.3"
log = "0.4"
pretty_env_logger = "0.4"
lazy_static = "1.4.0"
libc = "0.2"
nix = "0.19"
smart-default = "0.6"
simple-signal = "1.1"
unescape = "0.1"

tokio = { version = "1.0", features = ["full"] }
tokio-stream = "0.1"
async-stream = "0.3"
futures-core = "0.3"
futures-util = "0.3"
inotify = "0.9"
tokio-util = "0.6"

x11rb = { version = "0.7", features = ["randr"] }


[dev-dependencies]
pretty_assertions = "0.6.1"
