$cat-crust: #11111b;
$cat-mantle: #181825;
$cat-base: #1e1e2e;
$cat-surface0: #313244;
$cat-surface1: #45475a;
$cat-surface2: #585b70;
$cat-overlay0: #6c7086;
$cat-overlay1: #7f849c;
$cat-overlay2: #9399b2;
$cat-subtext0: #a6adc8;
$cat-subtext1: #bac2de;
$cat-blue: #89b4fa;
$cat-green: #a6e3a1;
$cat-red: #f38ba8;
$cat-teal: #94e2d5;
$cat-sky: #91d7e3;
$cat-text: #cdd6f4;
$cat-flamingo: #f2cdcd;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: Iosevka Nerd Font;
}

scale trough {
  background-color: $cat-surface1;
  min-height: 0.8rem;
  min-width: 12rem;
  &,
  highlight {
    border-radius: 3px;
  }
  highlight {
    background-image: linear-gradient(
      to right,
      $cat-flamingo 30%,
      $cat-sky 50%,
      $cat-sky 100% * 50
    );
  }
}
.bar {
  background-color: $cat-mantle;
  padding: 0.6rem 0;
}
.preview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
}
.container {
  font-size: 1rem;
  background-color: $cat-surface0;
  border-radius: 5px;
  padding: 0 8px;
  margin: 0.3rem 0 0.3rem 0;
}
.bold {
  font-weight: bold;
}
.workspaces {
  font-size: 1.8rem;
  .focused {
    color: $cat-green;
  }
  .empty {
    color: $cat-surface2;
  }
  .occupied {
    color: $cat-blue;
  }
}
.text-xs {
  font-size: 1.1rem;
}
.text-sm {
  font-size: 1.5rem;
}
.text-base {
  font-size: 2rem;
}
.text-lg {
  font-size: 4rem;
}
.bg-crust {
  background-color: $cat-crust;
}
.bg-mantle {
  background-color: $cat-mantle;
}
.red {
  color: $cat-red;
}
.green {
  color: $cat-green;
}
.blue {
  color: $cat-blue;
}
.sky {
  color: $cat-sky;
}
.hover-sky:hover {
  color: $cat-sky;
}
.os-logo {
  padding: 0.3rem;
  color: $cat-subtext0;
}
.sans {
  font-family: sans-serif;
}
.beyno {
  font-family: Beyno;
}
