:root {
    --bg: hsl(210, 25%, 8%);
    --bg-code: #2b303b;
    --fg: #c5c5c5;
    --sidebar-bg: #14191f;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #ffb454;
    --sidebar-spacer: #2d334f;
    --scrollbar: var(--sidebar-fg);
    --icons: #737480;
    --icons-hover: #b7b9cc;
    --links: #0096cf;
    --inline-code-color: #ffb454;
    --theme-popup-bg: #14191f;
    --theme-popup-border: #5c6773;
    --theme-hover: #191f26;
    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);
    --table-border-color: hsl(210, 25%, 13%);
    --table-header-bg: hsl(210, 25%, 28%);
    --table-alternate-bg: hsl(210, 25%, 11%);
    --searchbar-border-color: #848484;
    --searchbar-bg: #424242;
    --searchbar-fg: #fff;
    --searchbar-shadow-color: #d4c89f;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #e3b171;
}

.menu {
    background-color: var(--sidebar-bg);
    ul a {
        color: var(--sidebar-fg);
    }
    ul li.active > a {
        color: var(--sidebar-active);
    }
}

.page {
    background-color: var(--bg);
    color: var(--fg);

    code {
        color: var(--inline-code-color);
        background-color: var(--bg-code);
    }

    .menu-icon > span {
        background-color: rgba(255, 255, 255, 0.5);
    }
}
