name: build

on:
   #push:
      #branches: [master]
   pull_request:
      branches: [master]

env:
   CARGO_TERM_COLOR: always

jobs:
   build:
      runs-on: ubuntu-latest
      steps:
         - name: Install dependencies
           run: sudo apt-get install pango
         - name: Set up
           uses: actions-rs/toolchain@v1
           with:
              toolchain: nightly
              override: true
              components: rustfmt

         - uses: actions/checkout@v2
         - name: Build
           run: cargo build

