name: format

on:
   push:
      branches: [master]
   pull_request:
      branches: [master]

env:
   CARGO_TERM_COLOR: always

jobs:
   fmt:
      runs-on: ubuntu-latest

      steps:
         - name: Set up
           uses: actions-rs/toolchain@v1
           with:
              toolchain: nightly
              override: true
              components: rustfmt

         - uses: actions/checkout@v2
         - name: Format
           run: cargo fmt -- --check
